<% provide(:title, 'Контакты') %>
<!DOCTYPE html>
<html>
<head>
</head>

<body>
		<h5 style="line-height:1.8">По всем вопросам<br>
			Звоните: +7 (960) 703-65-60<br>
			Пишите: <a href="mailto:sergfetisov@gmail.com" style="color:#000000">sergfetisov@gmail.com</a>
			<br>
			<a href="http://vk.com/fetisow" target="_blank"><%= image_tag("vk1.png", class:"icon") %></a>
			<a href="http://instagram.com/fetisovsergey" target="_blank"><%= image_tag("instagram1.png", class:"icon") %></a>
			<a href="http://twitter.com/fetisov91" target="_blank"><%= image_tag("twitter1.png", class:"icon") %></a>
			<a href="http://facebook.com/fetisov91" target="_blank"><%= image_tag("facebook1.png", class:"icon") %></a>
		</h5>
</body>
