<a href="http://autoservice69.ru" target="_blank">
	<div id="autoservice" class="cover">
			<div class="text">
			<h1>АВТОСЕРВИС69</h1>
			<h3>
				Персональный сайт команды, миссия которой защитить Ваш автомобиль от угона, а также дополнить его полезным оборудованием
			</h3>
			</div>
	</div>
	</a>

	<a href="http://reportsclub.ru" target="_blank">
	<div id="reports" class="cover">
			<div class="text">
			<h1>REPORTS</h1>
			<h3>
				Геолокационная социальная сеть для обмена мгновенными сообщениями и фотографиями
			</h3>
			</div>
	</div>
	</a>
	
	<a href="http://realwaves.ru" target="_blank">
	<div id="realwaves" class="cover">
			<div class="text">
			<h1>REAL WAVES</h1>
			<h3>
				Платформа для представления уникальных вещей и услуг. Если у тебя есть качественный и интересный продукт, то зарегестрируйся и поведай людям о нем
			</h3>
			</div>
	</div>
	</a>
	
	<a href="http://sergeyfetisov.ru" target="_blank">
	<div id="sergeyfetisov" class="cover">
			<div class="text">
			<h1>Sergey Fetisov</h1>
			<h3>
				Персональный сайт
			</h3>
			</div>
	</div>
	</a>
	
	<a href="http://vinylprofi.ru" target="_blank">
	<div id="vinylprofi" class="cover">
			<div class="text">
			<h1>ВИНИЛПРОФИ</h1>
			<h3>
				Оригинальный стиль и узнаваемость твоего автомобиля
			</h3>
			</div>
	</div>
	</a>
	
	<a href="http://showmaps.ru" target="_blank">
	<div id="showmaps" class="cover">
			<div class="text">
			<h1>SHOWMAPS</h1>
			<h3>
				Веб-приложение для обмена картами. Поделись картой с друзьями!
			</h3>
			</div>
	</div>
	</a>