<div id="contact">
	<h1>
	Контакты
	</h1>
	Email: <a href="mailto:sergfetisov@gmail.com" style="color:#FFFFFF">sergfetisov@gmail.com</a><br>
	Tel: +7 (960) 703-65-60
	<br>
	<a href="http://vk.com/fetisow" target="_blank"><%= image_tag("vk.png", class:"icon") %></a>
	<a href="http://instagram.com/fetisovsergey" target="_blank"><%= image_tag("instagram.png", class:"icon") %></a>
	<a href="http://twitter.com/fetisov91" target="_blank"><%= image_tag("twitter.png", class:"icon") %></a>
	<a href="http://facebook.com/fetisov91" target="_blank"><%= image_tag("facebook.png", class:"icon") %></a>
</div>